@import '../_vars';
.footer {
  margin-top: auto;
  background-color: $color_darkmain;
  padding: $h_def * 2 0;
  color: white;
  z-index: 10;
  &__contacts {
    display: flex;
    flex-direction: column;
    margin: $h_def 0;
    align-items: center;
    @media screen and (max-width: 767px) {
      margin: $h_def 0 $h_def * 2;
    }
    >* {
      margin: 3px 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 767px) {
      align-items: center;
    }
    &--right {
      align-items: flex-end;
      @media screen and (max-width: 767px) {
        align-items: center;
      }
    }
  }
  &__item {
    margin: 3px 0;
  }
  .social_icons {
    @media screen and (max-width: 767px) {
      margin: $h_def * 2 0 $h_def;
    }
    a {
      padding: 0 $h_def / 2;
      &:last-child {
        padding-right: 0;
      }
      &:first-child {
        padding-left: 0;
      }
    }
    img {
      filter: invert(1);
      width: 40px;
    }
  }
}