@import '../_vars';
.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: calc(100px + #{$h_def * 2});
  transition: padding-top 0.3s ease-out;
  &.mini {
    padding-top: calc(100px + #{$h_def / 3 * 2});
  }
  @media screen and (max-width: 991px) {
    padding-top: calc(80px + #{$h_def * 2});
    transition: padding-top 0.3s ease-out;
    &.mini {
      padding-top: calc(80px + #{$h_def / 3 * 2});
    }
  }
}
.header {
  background-color: $color_darkmain;
  padding: $h_def 0;
  z-index: 10;
  transition: all 0.3s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  &.mini {
    padding: $h_def / 3 0;
  }
  &__navmenu {
    display: flex;
    justify-content: flex-end;
  }
}
.body {
  transition: all 0.3s ease-out;
  margin-top: 0;
}