@import './_vars';
.btn {
  height: $h_btn;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  max-width: 100%;
  font-size: $size_normal;
  color: white;
  background-color: $color_darkmain;
  border: 2px solid $color_darkmain;
  transition: all 0.3s ease-out;
  &:hover {
    border-color: $color_main;
    background-color: $color_main;
  }
}
.link {
  cursor: pointer;
  font-size: $size_normal;
  transition: all 0.3s ease-out;
  position: relative;
  display: inline-block;
  padding: 2px;
  &:after {
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    position: absolute;
    background-color: white;
  }
  &--big {
    font-size: $size_btn;
  }
  &--popup {
    border-bottom: 1px dashed white;
    &:after {content: none;}
  }
}
.title {
  &--page {
    font-size: $size_title * 2;
    font-weight: 700;
    color: white;
    position: absolute;
    top: calc(50% + (155px / 2));
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: $h-def * 2 0;
    color: white;
    @extend %title;
    &:after, &:before {
      content: '';
      position: absolute;
      top: -$h-def * 1.5;
      bottom: -$h-def * 1.5;
      width: calc(50vw; + 1px);
      background-color: $color_darkmain;
      z-index: -1;
    }
    &:after {
      right: calc(50% - 1px);
    }
    &:before {
      left: calc(50% - 1px);
    }
  }

}