@import './_vars';
.lastnews {
  background-color: white;
  &es {
    margin-top: $h_def;
  }
  &__title {
    margin-top: $h_def * 2;
    @extend %title;
    color: $color_text;
  }
  &__news {
    background-color: $color_drivtext;
    padding: $h_def * 2;
    margin: $h_def 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    >* {
      margin: $h_def / 2 0;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__img {
      width: 100%;
      img {
        width: 100%;
        max-width: 100%;
      }
    }
    &__date {
      align-self: flex-end;
      font-size: $size_little;
    }
    &__title {
      font-size: $size_big;
    }
    &__desc {
      font-size: $size_normal;
      line-height: $size_normal * 1.4;
    }
  }
}