@import './_vars';
.down {
  width: 44px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 100%;
  }
}
.first {
  position: relative;
  height: 80vh;
  padding-top: 155px;
  transition: all 0.3s ease-out;
}
.parallax {
  width: 100%;
  img {
    width: 100%;
  }
}