@import './_vars';
.down {
  width: 60px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 100%;
  }
}
.first {
  position: relative;
  height: calc(100vh - 155px);
  margin-top: 155px;
  transition: all 0.3s ease-out;
  &.mini {
    height: calc(100vh - 95px);
    margin-top: 95px;
  }
}
.parallax {
  width: 100%;
  img {
    width: 100%;
  }
}