@import './_vars';
.navmenu {
  &__list {
    display: flex;
    align-items: center;
    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__item {
    color: white;
    font-size: $size_normal;
    display: block;
    cursor: pointer;
    height: $h_btn;
    line-height: $h_btn;
    a {
      @extend %linkBtn;
    }
  }
}